/* 
    Created on : 16/01/2015, 09:33:01
    Author     : CafeEAD
*/

$corPendenteClaro: #f5f5f5;
$corPendenteEscuro: #ccc;
$corPendenteEscuro2: #4c4c4c;
$corAguardandoAprovacaoClaro: #db99f9;
$corAguardandoAprovacaoEscuro: #a725f2;
$corAguardandoAprovacaoEscuro2: #5b088b;
$corAguardandoPostagemClaro: #fafbe9;
$corAguardandoPostagemEscuro: #ced060;
$corAguardandoPostagemEscuro2: #65661e;
$corEnviadoClaro: #f999a5;
$corEnviadoEscuro: #f2253e;
$corEnviadoEscuro2: #bb0b20;
$corEmCorrecaoClaro: #ffe2b2; 
$corEmCorrecaoEscuro: #feb438;
$corEmCorrecaoEscuro2: #b2750f;
$corOrientadoClaro: #eca37d; 
$corOrientadoEscuro: #f46b00;
$corOrientadoEscuro2: #c15500;
$corAguardandoBancaClaro: #99da94;
$corAguardandoBancaEscuro: #16d506;
$corAguardandoBancaEscuro2: #1c8113;
$corFinalizadoClaro: #ccfefa;
$corFinalizadoEscuro: #01dfcd;
$corFinalizadoEscuro2: #00988b;